<launch>

	<arg name="whirlybird" />

	<machine name ="DonaldDucksNephew" address="$(arg whirlybird)" env-loader="/opt/ros/kinetic/env.sh" user="$(arg whirlybird)" timeout="10.0" />


	<node machine = "DonaldDucksNephew" pkg="whirlybird_serial" type="whirlybird_serial_node" name="serial_node" output="screen">
		<param name="port" value="/dev/ttyACM0"/>
		<param name="baud" value="115200"/>
	</node> 



</launch>